.container{
    height:100%;
    width: 5%;
    position:absolute;
    top:0;
    right:0;

    display: flex;
    justify-content: center;
    align-items: center;
  
}

.button{

}
.wrapper{
 padding: 2px;
}

.img{
    width: 40px;
    height: 40px;
}